APP_PORT=3000

DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=test

JWT_ACCESS_SECRET=access_secret
JWT_ACCESS_EXPIRES_IN=30m
JWT_REFRESH_SECRET=refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

SEED_ADMIN_EMAIL=admin1@mail.com
SEED_ADMIN_PASSWORD=P@ssword!
SEED_ADMIN_FIRST_NAME=John
SEED_ADMIN_LAST_NAME=Doe
